@font-face {
    font-family: 'Rubik'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(Rubik-Regular.ttf); 
}

@font-face {
    font-family: 'Rubik-Bold'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(Rubik-Bold.ttf); 
}

.custom-navbar {
    background-color: #f0f0f0; /* 배경색 변경 */
    border-bottom: 1px solid #ddd; /* 하단 테두리 추가 */
    padding: 10px 0; /* 위아래 여백 추가 */
  }

  .custom-navbar .navbar-nav .nav-link {
    color: #333; /* 네비게이션 링크 텍스트 색상 변경 */
    margin: 0 10px; /* 네비게이션 링크 사이 여백 추가 */
  }

  .custom-navbar .navbar-brand {
    color: #333; /* 로고 텍스트 색상 변경 */
  }

p {
    margin-top: 50px;
    font-family: 'Rubik'; 
    font-size: larger;
    
}

h1{
    font-family: 'Rubik-Bold';
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    font-size: xx-large;
}

.lead{
    font-family: Rubik-Bold;
    font-size: xx-large;
}

#hometext{
    font-family: 'Rubik-Bold';
    text-align: center;
    padding: 100px;
    font-size: large;
}

.container{
    margin-top: 30px;
    align-items: center;
}

.col-md-6{
    margin-top: 30px;

}

img[alt="self"]{
    max-width: 100%; align-items: center; margin-left: 60px;
}

img[alt="pathfinder"]{
    max-width: 100%; max-height: auto;
}

img[alt="andstu"]{
    max-width: auto; max-height: 200px;
}

img[alt="java"]{
    max-width: 50%; max-height: 200px; margin-left: 100px; padding-bottom: 50px;
}

img[alt="adobe"]{
    max-width: 100%; max-height: auto; margin-bottom: 50px;
}

.container-border {
    margin: 50px;
    border: 5px solid black; 
    padding: 20px;
    border-radius: 10px;
    padding: 30px;
}

.progress mt-3{
    font-size: larger;
    
}
