@font-face {
    font-family: 'Rubik'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(Rubik-Regular.ttf); 
}

@font-face {
    font-family: 'Rubik-Bold'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(Rubik-Bold.ttf); 
}

p {
    font-family: 'Rubik'; 
    font-size: larger;
    
}

h1{
    font-family: 'Rubik-Bold';
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    font-size: xx-large;
}

.lead{
    font-family: Rubik-Bold;
    font-size: xx-large;
}


#hometext{
    font-family: 'Rubik-Bold';
    text-align: center;
    padding: 100px;
    font-size: large;
}

.container{
    margin-top: 30px;
    align-items: center;
}

.col-md-6{
    margin-top: 30px;

}

img[alt="self"]{
   width: 100%; max-width: 300px; align-items: center; margin-left: 60px;
}

img[alt="pathfinder"]{
    max-width: 100%; max-height: auto;
}

img[alt="andstu"]{
    max-width: auto; max-height: 200px;
}

img[alt="java"]{
    max-width: 50%; max-height: 200px; margin-left: 100px;
}

img[alt="adobe"]{
    max-width: 100%; max-height: auto;
}


.container-border {
    margin: 50px;
    border: 5px solid black; 
    padding: 20px;
    border-radius: 10px;
    padding: 30px;
}