/* font stlye */
@font-face {
    font-family: 'Rubik'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(source/Rubik-Regular.ttf); 
}

@font-face {
    font-family: 'Rubik-Bold'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(source/Rubik-Bold.ttf); 
}

/* navbar style */
.custom-navbar {  
    border-bottom: 1px solid black; 
}

.custom-navbar .navbar-nav .nav-link {
    color: black;
    margin: 10px;
}

.custom-navbar .navbar-brand {
    color: black
}

/* image style */
img[alt="andstu"]{
    max-width: auto; max-height: 200px;
}

img[alt="java"]{
    max-width: 50%; max-height: 200px; margin-left: 100px; 
}

img[alt="adobe"]{
    max-width: 100%; max-height: auto; margin-bottom: 50px;
}

/* text stlye */
p {
    margin-top: 50px;
    font-family: 'Rubik'; 
    font-size: larger; 
}

h1{
    font-family: 'Rubik-Bold';
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    font-size: xx-large;
}

h3{
    font-family: 'Rubik-Regular';
    font-size: xx-large;
    margin-left: 5%;
}

/* text container stlye (for change in default)*/
#lead{
    font-family: Rubik-Bold;
    font-size: x-large;
    align-items: center;
}

#cardtext{
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

#hometext{
    font-family: 'Rubik-Bold';
    text-align: center;
    padding: 100px;
    font-size: large;
}

/* cotainer border style*/
.container-border {
    background-color:#a5d4ff;
    margin: 50px;
    border: 5px solid black; 
    padding: 20px;
    border-radius: 10px;
    padding: 30px;
}

/* cotainer style for change in default */
#adob {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}